---
import Layout from '../../layouts/Layout.astro';
import { SignIn } from '@clerk/astro/components';
---
<Layout title="Flouvia | Login">
    <main style="background: #050b14; min-height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h1 class="editorial" style="color: white; margin-bottom: 2rem;">Acceso exclusivo.</h1>
        <SignIn />
    </main>
</Layout>